.form-images-row {
    width: 39% !important;
    flex-wrap: nowrap !important;
    margin: 2px !important;
    align-items: baseline
}

.form-image {
    width: 60px !important;
    margin: 2px;
}

.form-field-name {
    font-weight: bold;
}

.container-upload-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #d2d5d8;
    margin-bottom: 10px;
}

.box-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 60px;
    border-style: dotted;
    cursor: pointer;
}

.icon-camera {
    cursor: pointer;
}

.table {
    border-collapse: collapse;
    border: 1px solid;
    border-color: black !important;
}

.row-table { 
    border: 1px solid;
}

.images-preview {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box-individual-preview {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.image-individual {
    margin-right: 5px;
}

.images-msg-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.images-msg-ok {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #198754;
}

