* {
    font-family: 'Inter', sans-serif;
}
a { 
    text-decoration: none !important;
}

.main-title {
    font-size: 25px;
    margin-top: 5px;
   
}




/* footer */
.footer {
  background-color: #C1CDD6;
  border-color: #315C94;
  border-top-style: solid;
  border-width: thick;
  color: #315C94;
}


body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

.phones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 8px;
}

.phone-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 2px;
    transition: color 500ms;
}

.icon-circle {
    background: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-icon {
    width: 28px;
    height: 28px;
}

a.link-phones {
    text-decoration: none;
    color: #315C94;
    flex: 30%;
    transition: color 100ms;
}

a.link-phones:hover {
    color: #859499; 
}

.number-phone, .menu-subtitle {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0px;
    font-family: fantasy;
}

.title-phone {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.list-section {
    list-style: none;
    font-size: 12px;
    padding-left: 5px;
}

.section-contact-follow {
    display: flex;
    justify-content: space-around;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}

.powered-by {
    display: flex;
    justify-content: center;
}

/*Buttons*/

.btn-square{
    -webkit-user-select: none !important;
    background-color: #C4D6DE;
    color:#315C94;
    width: 90px;
    height: 80px;
    padding: 5px;
    border-radius: 3px;
    margin:3px;
    text-shadow: 1px 1px 5px rgba(49, 92, 148,0.4) !important;
    box-shadow: 1px  5px 5px rgb(133, 148, 153) !important;
    text-decoration: none !important;
    transition: 0.7s;
    
}
.btn-square:hover{
    background-color:#9DB1C6;
    box-shadow: 1px  5px 5px rgba(49, 92, 148,0.8) !important;
    transform: scale(1.03);
    color: #2d5a94;

}

.btn-square-icon{
    width:100%;
    font-size: 22px;
    text-align: center;
    align-self: auto;
   
}

h6.btn-square-text {
    margin: auto;
    text-align: center;
    font-size: 14px;
    text-decoration: none !important;
}

/** Historia **/
.text-indent  {
    padding-right: 5px;
    margin-top: 35px !important;
    text-align: justify;
}

.text-indenth3{
     text-shadow: 5px 5px 10px 5px red ;  
}
    
.text-indent img {
    width: 290px !important;
    height: 60% !important;
    text-align: center;
    margin: auto;
    margin-top:15px;
    margin-bottom: 20px;
    /* box-shadow: 5px 5px 10px 5px #859499 ;  */

}

.text-indent p {
    text-indent: 1cm;
}

.buttonToolBar{
    text-align: center !important;


}




/* START MEDIA QUERIES */
@media screen and (min-width:300px) and (max-width:576px){

    .btn-square {
       height: min-content!important;
       width: 68px;

    }
    h6.btn-square-text{
       font-size: 11px !important;
        
    }

   
}


